@model BicycleShop.Models.ViewModels.ChangePasswordViewModel
@{
}

<h2 class="text-center">Changing password for <br />@Model.Email</h2><br />

<div class="col-lg-5 mx-auto">
	<form asp-action="ChangePassword" asp-controller="Account" asp-antiforgery="true">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="mb-3">
			@Html.LabelFor(x => x.OldPassword, "Old Password", new { @class="form-label"})
			@Html.PasswordFor(x => x.OldPassword, new { @class="form-control"})
			@Html.ValidationMessageFor(x => x.OldPassword)
		</div>
		<div class="mb-3">
			@Html.LabelFor(x => x.Password, "New Password", new { @class="form-label"})
			@Html.PasswordFor(x => x.Password, new { @class="form-control"})
			@Html.ValidationMessageFor(x => x.Password)
		</div>
		<div class="mb-3">
			@Html.LabelFor(x => x.ConfirmPassword, "Confirm Password", new { @class="form-label"})
			@Html.PasswordFor(x => x.ConfirmPassword, new { @class="form-control"})
			@Html.ValidationMessageFor(x => x.ConfirmPassword)
		</div>
		@Html.HiddenFor(x => x.UserId)
		@Html.HiddenFor(x => x.Email)
		<input type="submit" value="Submit" class="btn btn-primary"/>
	</form>

</div>
